* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}

body {
  background-color: darkkhaki;
}

fieldset {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-brand {
  font-size: 30px;
}
h1,
h2 {
  text-align: center;
}

h2 {
  background-color: aliceblue;
  border: 2px solid black;
  margin: 2px;
}

main .logo {
  background-image: url(./assets/logo.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: contain;
}

fieldset img {
  width: 100px;
  height: 100px;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-container input {
  padding: 10px;
  background-color: aliceblue;
  border: 2px solid black;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 10px 10px 0 black;
  margin: 5px 0 25px 0;
}

.search-container h1 {
  margin: 10px 0 20px 0;
  padding: 10px;
  background-color: aliceblue;
  border: 2px solid black;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 10px 10px 0 black;
}
