* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}

body {
  background-color: darkkhaki;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

fieldset {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.navbar-brand {
  font-size: 30px;
}
h1,
h2 {
  text-align: center;
}

h2 {
  background-color: aliceblue;
  border: 2px solid black;
  margin: 2px;
}
main img {
  width: 90%;
  margin-inline: auto;
  display: block;
  margin: auto;
  background-size: contain;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 10px 10px 0 black;
}
fieldset img {
  width: 100px;
  height: 100px;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-container input {
  margin: 10px;
  padding: 10px;
  background-color: aliceblue;
  border: 2px solid black;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 10px 10px 0 black;
}

.search-container button {
  margin: 10px 0 20px 0;
  padding: 10px;
  background-color: aliceblue;
  border: 2px solid black;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 10px 10px 0 black;
}
